@model ReflectionIT.Mvc.Paging.PagingList<BookShop.Models.Translator>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
     Layout = "~/Views/Shared/_Admin.cshtml";
}

<p>
    <a asp-action="Create">ایجاد مترجم جدید</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Family)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Family)
                </td>
                   <td>
                <a asp-action="AuthorBooks" asp-route-id="@item.TranslatorID" class="btn btn-info">مشاهده کتاب ها</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TranslatorID" class="btn btn-success btn-icon">
                    <i class="fa fa-edit">

                </i>
                    </a> |
              
                <a asp-action="Delete" asp-route-id="@item.TranslatorID" class="btn btn-danger btn-icon">
                    <i class="fa fa-trash">

                    </i>
                </a>
            </td>
        </tr>
            
        }
    </tbody>
</table>
<nav>
      @await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })
 </nav>